{
  "openapi": "3.1.0",
  "info": {
    "title": "Outlit Public API",
    "version": "1.0.0",
    "description": "Generated from Outlit Core's capability catalog and public protocol transport contracts."
  },
  "servers": [
    {
      "url": "https://app.outlit.ai"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/api/tools/call": {
      "post": {
        "operationId": "callTool",
        "summary": "Call an Outlit capability",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "type": "object",
                    "properties": {
                      "tool": {
                        "type": "string",
                        "const": "outlit_list_customers"
                      },
                      "input": {
                        "$ref": "#/components/schemas/ToolInput_outlit_list_customers"
                      }
                    },
                    "required": [
                      "tool"
                    ],
                    "additionalProperties": false
                  },
                  {
                    "type": "object",
                    "properties": {
                      "tool": {
                        "type": "string",
                        "const": "outlit_list_users"
                      },
                      "input": {
                        "$ref": "#/components/schemas/ToolInput_outlit_list_users"
                      }
                    },
                    "required": [
                      "tool"
                    ],
                    "additionalProperties": false
                  },
                  {
                    "type": "object",
                    "properties": {
                      "tool": {
                        "type": "string",
                        "const": "outlit_list_workspace_users"
                      },
                      "input": {
                        "$ref": "#/components/schemas/ToolInput_outlit_list_workspace_users"
                      }
                    },
                    "required": [
                      "tool"
                    ],
                    "additionalProperties": false
                  },
                  {
                    "type": "object",
                    "properties": {
                      "tool": {
                        "type": "string",
                        "const": "outlit_get_customer"
                      },
                      "input": {
                        "$ref": "#/components/schemas/ToolInput_outlit_get_customer"
                      }
                    },
                    "required": [
                      "tool"
                    ],
                    "additionalProperties": false
                  },
                  {
                    "type": "object",
                    "properties": {
                      "tool": {
                        "type": "string",
                        "const": "outlit_get_customer_relationship"
                      },
                      "input": {
                        "$ref": "#/components/schemas/ToolInput_outlit_get_customer_relationship"
                      }
                    },
                    "required": [
                      "tool"
                    ],
                    "additionalProperties": false
                  },
                  {
                    "type": "object",
                    "properties": {
                      "tool": {
                        "type": "string",
                        "const": "outlit_assign_customer_owner"
                      },
                      "input": {
                        "$ref": "#/components/schemas/ToolInput_outlit_assign_customer_owner"
                      }
                    },
                    "required": [
                      "tool"
                    ],
                    "additionalProperties": false
                  },
                  {
                    "type": "object",
                    "properties": {
                      "tool": {
                        "type": "string",
                        "const": "outlit_grant_customer_access"
                      },
                      "input": {
                        "$ref": "#/components/schemas/ToolInput_outlit_grant_customer_access"
                      }
                    },
                    "required": [
                      "tool"
                    ],
                    "additionalProperties": false
                  },
                  {
                    "type": "object",
                    "properties": {
                      "tool": {
                        "type": "string",
                        "const": "outlit_update_customer_access"
                      },
                      "input": {
                        "$ref": "#/components/schemas/ToolInput_outlit_update_customer_access"
                      }
                    },
                    "required": [
                      "tool"
                    ],
                    "additionalProperties": false
                  },
                  {
                    "type": "object",
                    "properties": {
                      "tool": {
                        "type": "string",
                        "const": "outlit_revoke_customer_access"
                      },
                      "input": {
                        "$ref": "#/components/schemas/ToolInput_outlit_revoke_customer_access"
                      }
                    },
                    "required": [
                      "tool"
                    ],
                    "additionalProperties": false
                  },
                  {
                    "type": "object",
                    "properties": {
                      "tool": {
                        "type": "string",
                        "const": "outlit_get_timeline"
                      },
                      "input": {
                        "$ref": "#/components/schemas/ToolInput_outlit_get_timeline"
                      }
                    },
                    "required": [
                      "tool"
                    ],
                    "additionalProperties": false
                  },
                  {
                    "type": "object",
                    "properties": {
                      "tool": {
                        "type": "string",
                        "const": "outlit_list_facts"
                      },
                      "input": {
                        "$ref": "#/components/schemas/ToolInput_outlit_list_facts"
                      }
                    },
                    "required": [
                      "tool"
                    ],
                    "additionalProperties": false
                  },
                  {
                    "type": "object",
                    "properties": {
                      "tool": {
                        "type": "string",
                        "const": "outlit_get_fact"
                      },
                      "input": {
                        "$ref": "#/components/schemas/ToolInput_outlit_get_fact"
                      }
                    },
                    "required": [
                      "tool"
                    ],
                    "additionalProperties": false
                  },
                  {
                    "type": "object",
                    "properties": {
                      "tool": {
                        "type": "string",
                        "const": "outlit_get_source"
                      },
                      "input": {
                        "$ref": "#/components/schemas/ToolInput_outlit_get_source"
                      }
                    },
                    "required": [
                      "tool"
                    ],
                    "additionalProperties": false
                  },
                  {
                    "type": "object",
                    "properties": {
                      "tool": {
                        "type": "string",
                        "const": "outlit_list_sources"
                      },
                      "input": {
                        "$ref": "#/components/schemas/ToolInput_outlit_list_sources"
                      }
                    },
                    "required": [
                      "tool"
                    ],
                    "additionalProperties": false
                  },
                  {
                    "type": "object",
                    "properties": {
                      "tool": {
                        "type": "string",
                        "const": "outlit_search_customer_context"
                      },
                      "input": {
                        "$ref": "#/components/schemas/ToolInput_outlit_search_customer_context"
                      }
                    },
                    "required": [
                      "tool"
                    ],
                    "additionalProperties": false
                  },
                  {
                    "type": "object",
                    "properties": {
                      "tool": {
                        "type": "string",
                        "const": "outlit_query"
                      },
                      "input": {
                        "$ref": "#/components/schemas/ToolInput_outlit_query"
                      }
                    },
                    "required": [
                      "tool"
                    ],
                    "additionalProperties": false
                  },
                  {
                    "type": "object",
                    "properties": {
                      "tool": {
                        "type": "string",
                        "const": "outlit_schema"
                      },
                      "input": {
                        "$ref": "#/components/schemas/ToolInput_outlit_schema"
                      }
                    },
                    "required": [
                      "tool"
                    ],
                    "additionalProperties": false
                  },
                  {
                    "type": "object",
                    "properties": {
                      "tool": {
                        "type": "string",
                        "const": "outlit_list_destinations"
                      },
                      "input": {
                        "$ref": "#/components/schemas/ToolInput_outlit_list_destinations"
                      }
                    },
                    "required": [
                      "tool"
                    ],
                    "additionalProperties": false
                  },
                  {
                    "type": "object",
                    "properties": {
                      "tool": {
                        "type": "string",
                        "const": "outlit_get_destination"
                      },
                      "input": {
                        "$ref": "#/components/schemas/ToolInput_outlit_get_destination"
                      }
                    },
                    "required": [
                      "tool"
                    ],
                    "additionalProperties": false
                  },
                  {
                    "type": "object",
                    "properties": {
                      "tool": {
                        "type": "string",
                        "const": "outlit_create_destination"
                      },
                      "input": {
                        "$ref": "#/components/schemas/ToolInput_outlit_create_destination"
                      }
                    },
                    "required": [
                      "tool"
                    ],
                    "additionalProperties": false
                  },
                  {
                    "type": "object",
                    "properties": {
                      "tool": {
                        "type": "string",
                        "const": "outlit_update_destination"
                      },
                      "input": {
                        "$ref": "#/components/schemas/ToolInput_outlit_update_destination"
                      }
                    },
                    "required": [
                      "tool"
                    ],
                    "additionalProperties": false
                  },
                  {
                    "type": "object",
                    "properties": {
                      "tool": {
                        "type": "string",
                        "const": "outlit_enable_destination"
                      },
                      "input": {
                        "$ref": "#/components/schemas/ToolInput_outlit_enable_destination"
                      }
                    },
                    "required": [
                      "tool"
                    ],
                    "additionalProperties": false
                  },
                  {
                    "type": "object",
                    "properties": {
                      "tool": {
                        "type": "string",
                        "const": "outlit_disable_destination"
                      },
                      "input": {
                        "$ref": "#/components/schemas/ToolInput_outlit_disable_destination"
                      }
                    },
                    "required": [
                      "tool"
                    ],
                    "additionalProperties": false
                  },
                  {
                    "type": "object",
                    "properties": {
                      "tool": {
                        "type": "string",
                        "const": "outlit_archive_destination"
                      },
                      "input": {
                        "$ref": "#/components/schemas/ToolInput_outlit_archive_destination"
                      }
                    },
                    "required": [
                      "tool"
                    ],
                    "additionalProperties": false
                  },
                  {
                    "type": "object",
                    "properties": {
                      "tool": {
                        "type": "string",
                        "const": "outlit_get_integration_capabilities"
                      },
                      "input": {
                        "$ref": "#/components/schemas/ToolInput_outlit_get_integration_capabilities"
                      }
                    },
                    "required": [
                      "tool"
                    ],
                    "additionalProperties": false
                  },
                  {
                    "type": "object",
                    "properties": {
                      "tool": {
                        "type": "string",
                        "const": "outlit_begin_integration_setup"
                      },
                      "input": {
                        "$ref": "#/components/schemas/ToolInput_outlit_begin_integration_setup"
                      }
                    },
                    "required": [
                      "tool"
                    ],
                    "additionalProperties": false
                  },
                  {
                    "type": "object",
                    "properties": {
                      "tool": {
                        "type": "string",
                        "const": "outlit_get_integration_setup_status"
                      },
                      "input": {
                        "$ref": "#/components/schemas/ToolInput_outlit_get_integration_setup_status"
                      }
                    },
                    "required": [
                      "tool"
                    ],
                    "additionalProperties": false
                  },
                  {
                    "type": "object",
                    "properties": {
                      "tool": {
                        "type": "string",
                        "const": "outlit_get_integration_status"
                      },
                      "input": {
                        "$ref": "#/components/schemas/ToolInput_outlit_get_integration_status"
                      }
                    },
                    "required": [
                      "tool"
                    ],
                    "additionalProperties": false
                  },
                  {
                    "type": "object",
                    "properties": {
                      "tool": {
                        "type": "string",
                        "const": "outlit_setup_integration"
                      },
                      "input": {
                        "$ref": "#/components/schemas/ToolInput_outlit_setup_integration"
                      }
                    },
                    "required": [
                      "tool"
                    ],
                    "additionalProperties": false
                  },
                  {
                    "type": "object",
                    "properties": {
                      "tool": {
                        "type": "string",
                        "const": "outlit_get_customer_activation"
                      },
                      "input": {
                        "$ref": "#/components/schemas/ToolInput_outlit_get_customer_activation"
                      }
                    },
                    "required": [
                      "tool"
                    ],
                    "additionalProperties": false
                  },
                  {
                    "type": "object",
                    "properties": {
                      "tool": {
                        "type": "string",
                        "const": "outlit_preview_customer_activation"
                      },
                      "input": {
                        "$ref": "#/components/schemas/ToolInput_outlit_preview_customer_activation"
                      }
                    },
                    "required": [
                      "tool"
                    ],
                    "additionalProperties": false
                  },
                  {
                    "type": "object",
                    "properties": {
                      "tool": {
                        "type": "string",
                        "const": "outlit_update_customer_activation"
                      },
                      "input": {
                        "$ref": "#/components/schemas/ToolInput_outlit_update_customer_activation"
                      }
                    },
                    "required": [
                      "tool"
                    ],
                    "additionalProperties": false
                  },
                  {
                    "type": "object",
                    "properties": {
                      "tool": {
                        "type": "string",
                        "const": "outlit_get_workspace_settings"
                      },
                      "input": {
                        "$ref": "#/components/schemas/ToolInput_outlit_get_workspace_settings"
                      }
                    },
                    "required": [
                      "tool"
                    ],
                    "additionalProperties": false
                  },
                  {
                    "type": "object",
                    "properties": {
                      "tool": {
                        "type": "string",
                        "const": "outlit_update_workspace_settings"
                      },
                      "input": {
                        "$ref": "#/components/schemas/ToolInput_outlit_update_workspace_settings"
                      }
                    },
                    "required": [
                      "tool"
                    ],
                    "additionalProperties": false
                  },
                  {
                    "type": "object",
                    "properties": {
                      "tool": {
                        "type": "string",
                        "const": "outlit_list_behavior_metric_sources"
                      },
                      "input": {
                        "$ref": "#/components/schemas/ToolInput_outlit_list_behavior_metric_sources"
                      }
                    },
                    "required": [
                      "tool"
                    ],
                    "additionalProperties": false
                  },
                  {
                    "type": "object",
                    "properties": {
                      "tool": {
                        "type": "string",
                        "const": "outlit_list_behavior_metric_events"
                      },
                      "input": {
                        "$ref": "#/components/schemas/ToolInput_outlit_list_behavior_metric_events"
                      }
                    },
                    "required": [
                      "tool"
                    ],
                    "additionalProperties": false
                  },
                  {
                    "type": "object",
                    "properties": {
                      "tool": {
                        "type": "string",
                        "const": "outlit_create_behavior_metric"
                      },
                      "input": {
                        "$ref": "#/components/schemas/ToolInput_outlit_create_behavior_metric"
                      }
                    },
                    "required": [
                      "tool"
                    ],
                    "additionalProperties": false
                  },
                  {
                    "type": "object",
                    "properties": {
                      "tool": {
                        "type": "string",
                        "const": "outlit_list_attention_items"
                      },
                      "input": {
                        "$ref": "#/components/schemas/ToolInput_outlit_list_attention_items"
                      }
                    },
                    "required": [
                      "tool"
                    ],
                    "additionalProperties": false
                  },
                  {
                    "type": "object",
                    "properties": {
                      "tool": {
                        "type": "string",
                        "const": "outlit_get_attention_item"
                      },
                      "input": {
                        "$ref": "#/components/schemas/ToolInput_outlit_get_attention_item"
                      }
                    },
                    "required": [
                      "tool"
                    ],
                    "additionalProperties": false
                  }
                ],
                "discriminator": {
                  "propertyName": "tool"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Capability output",
            "content": {
              "application/json": {
                "schema": {
                  "anyOf": [
                    {
                      "$ref": "#/components/schemas/ToolOutput_outlit_list_customers"
                    },
                    {
                      "$ref": "#/components/schemas/ToolOutput_outlit_list_users"
                    },
                    {
                      "$ref": "#/components/schemas/ToolOutput_outlit_list_workspace_users"
                    },
                    {
                      "$ref": "#/components/schemas/ToolOutput_outlit_get_customer"
                    },
                    {
                      "$ref": "#/components/schemas/ToolOutput_outlit_get_customer_relationship"
                    },
                    {
                      "$ref": "#/components/schemas/ToolOutput_outlit_assign_customer_owner"
                    },
                    {
                      "$ref": "#/components/schemas/ToolOutput_outlit_grant_customer_access"
                    },
                    {
                      "$ref": "#/components/schemas/ToolOutput_outlit_update_customer_access"
                    },
                    {
                      "$ref": "#/components/schemas/ToolOutput_outlit_revoke_customer_access"
                    },
                    {
                      "$ref": "#/components/schemas/ToolOutput_outlit_get_timeline"
                    },
                    {
                      "$ref": "#/components/schemas/ToolOutput_outlit_list_facts"
                    },
                    {
                      "$ref": "#/components/schemas/ToolOutput_outlit_get_fact"
                    },
                    {
                      "$ref": "#/components/schemas/ToolOutput_outlit_get_source"
                    },
                    {
                      "$ref": "#/components/schemas/ToolOutput_outlit_list_sources"
                    },
                    {
                      "$ref": "#/components/schemas/ToolOutput_outlit_search_customer_context"
                    },
                    {
                      "$ref": "#/components/schemas/ToolOutput_outlit_query"
                    },
                    {
                      "$ref": "#/components/schemas/ToolOutput_outlit_schema"
                    },
                    {
                      "$ref": "#/components/schemas/ToolOutput_outlit_list_destinations"
                    },
                    {
                      "$ref": "#/components/schemas/ToolOutput_outlit_get_destination"
                    },
                    {
                      "$ref": "#/components/schemas/ToolOutput_outlit_create_destination"
                    },
                    {
                      "$ref": "#/components/schemas/ToolOutput_outlit_update_destination"
                    },
                    {
                      "$ref": "#/components/schemas/ToolOutput_outlit_enable_destination"
                    },
                    {
                      "$ref": "#/components/schemas/ToolOutput_outlit_disable_destination"
                    },
                    {
                      "$ref": "#/components/schemas/ToolOutput_outlit_archive_destination"
                    },
                    {
                      "$ref": "#/components/schemas/ToolOutput_outlit_get_integration_capabilities"
                    },
                    {
                      "$ref": "#/components/schemas/ToolOutput_outlit_begin_integration_setup"
                    },
                    {
                      "$ref": "#/components/schemas/ToolOutput_outlit_get_integration_setup_status"
                    },
                    {
                      "$ref": "#/components/schemas/ToolOutput_outlit_get_integration_status"
                    },
                    {
                      "$ref": "#/components/schemas/ToolOutput_outlit_setup_integration"
                    },
                    {
                      "$ref": "#/components/schemas/ToolOutput_outlit_get_customer_activation"
                    },
                    {
                      "$ref": "#/components/schemas/ToolOutput_outlit_preview_customer_activation"
                    },
                    {
                      "$ref": "#/components/schemas/ToolOutput_outlit_update_customer_activation"
                    },
                    {
                      "$ref": "#/components/schemas/ToolOutput_outlit_get_workspace_settings"
                    },
                    {
                      "$ref": "#/components/schemas/ToolOutput_outlit_update_workspace_settings"
                    },
                    {
                      "$ref": "#/components/schemas/ToolOutput_outlit_list_behavior_metric_sources"
                    },
                    {
                      "$ref": "#/components/schemas/ToolOutput_outlit_list_behavior_metric_events"
                    },
                    {
                      "$ref": "#/components/schemas/ToolOutput_outlit_create_behavior_metric"
                    },
                    {
                      "$ref": "#/components/schemas/ToolOutput_outlit_list_attention_items"
                    },
                    {
                      "$ref": "#/components/schemas/ToolOutput_outlit_get_attention_item"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Invalid tool call",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GatewayError"
                }
              }
            }
          },
          "401": {
            "description": "Invalid credentials",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GatewayError"
                }
              }
            }
          },
          "402": {
            "description": "Billing action required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GatewayError"
                }
              }
            }
          },
          "403": {
            "description": "Capability not authorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GatewayError"
                }
              }
            }
          },
          "404": {
            "description": "Requested resource not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GatewayError"
                }
              }
            }
          },
          "409": {
            "description": "Capability request conflicts with current state",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GatewayError"
                }
              }
            }
          },
          "422": {
            "description": "Capability request could not be processed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GatewayError"
                }
              }
            }
          },
          "429": {
            "description": "Rate or plan limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GatewayError"
                }
              }
            }
          },
          "500": {
            "description": "Tool gateway failure",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GatewayError"
                }
              }
            }
          },
          "502": {
            "description": "Invalid capability implementation output",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GatewayError"
                }
              }
            }
          },
          "503": {
            "description": "Capability temporarily unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GatewayError"
                }
              }
            }
          }
        }
      }
    },
    "/api/validate-api-key": {
      "post": {
        "operationId": "validateApiKey",
        "summary": "Validate an Outlit API key",
        "responses": {
          "200": {
            "description": "Validated API-key context",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiKeyValidationSuccess"
                }
              }
            }
          },
          "401": {
            "description": "Invalid credentials",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiKeyValidationFailure"
                }
              }
            }
          },
          "503": {
            "description": "API-key validation unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiKeyValidationFailure"
                }
              }
            }
          }
        }
      }
    },
    "/api/i/v1/{publicKey}/events": {
      "post": {
        "operationId": "ingestEvents",
        "summary": "Ingest customer activity events",
        "security": [],
        "parameters": [
          {
            "name": "publicKey",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IngestPayload"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Ingestion result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IngestResponse"
                }
              }
            }
          },
          "207": {
            "description": "Partial ingestion result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IngestResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid ingestion request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IngestResponse"
                }
              }
            }
          },
          "500": {
            "description": "Ingestion failure",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IngestResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "Outlit API key (ok_...)."
      }
    },
    "schemas": {
      "GatewayError": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "enum": [
              "INVALID_JSON",
              "INVALID_TOOL_CALL",
              "INVALID_TOOL_INPUT",
              "INVALID_CREDENTIALS",
              "TOOL_CALL_FORBIDDEN",
              "TOOL_BINDING_MISSING",
              "TOOL_IMPLEMENTATION_ERROR",
              "TOOL_OUTPUT_INVALID",
              "TOOL_GATEWAY_ERROR",
              "plan_api_limit_exceeded",
              "plan_billing_action_required"
            ]
          },
          "message": {
            "type": "string"
          },
          "retryable": {
            "type": "boolean"
          },
          "requestId": {
            "type": "string"
          },
          "plan": {
            "type": "string"
          },
          "feature": {
            "type": "string"
          },
          "resetAt": {
            "anyOf": [
              {
                "type": "number"
              },
              {
                "type": "null"
              }
            ]
          }
        },
        "required": [
          "code",
          "message",
          "retryable",
          "requestId"
        ],
        "additionalProperties": false
      },
      "ApiKeyValidationSuccess": {
        "type": "object",
        "properties": {
          "valid": {
            "type": "boolean",
            "const": true
          },
          "organizationId": {
            "type": "string"
          },
          "createdById": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "organization": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string"
              },
              "name": {
                "anyOf": [
                  {
                    "type": "string"
                  },
                  {
                    "type": "null"
                  }
                ]
              },
              "slug": {
                "anyOf": [
                  {
                    "type": "string"
                  },
                  {
                    "type": "null"
                  }
                ]
              }
            },
            "required": [
              "id",
              "name",
              "slug"
            ],
            "additionalProperties": false
          },
          "createdBy": {
            "anyOf": [
              {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string"
                  },
                  "email": {
                    "type": "string"
                  },
                  "name": {
                    "anyOf": [
                      {
                        "type": "string"
                      },
                      {
                        "type": "null"
                      }
                    ]
                  }
                },
                "required": [
                  "id",
                  "email",
                  "name"
                ],
                "additionalProperties": false
              },
              {
                "type": "null"
              }
            ]
          },
          "apiKey": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string"
              },
              "name": {
                "type": "string"
              },
              "prefix": {
                "type": "string"
              },
              "keyType": {
                "type": "string",
                "enum": [
                  "api",
                  "cli",
                  "mcp",
                  "ci"
                ]
              },
              "grants": {
                "type": "array",
                "items": {
                  "type": "string",
                  "enum": [
                    "customer_intelligence:read",
                    "workspace_members:read",
                    "analytics:read",
                    "destinations:manage",
                    "behavior_metrics:manage",
                    "integrations:connect_own",
                    "integrations:manage",
                    "activation:read",
                    "activation:manage",
                    "workspace_settings:read",
                    "workspace_settings:manage",
                    "customer_access:manage"
                  ]
                }
              },
              "createdAt": {
                "type": "string",
                "format": "date-time",
                "pattern": "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z))$"
              },
              "lastUsedAt": {
                "anyOf": [
                  {
                    "type": "string",
                    "format": "date-time",
                    "pattern": "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z))$"
                  },
                  {
                    "type": "null"
                  }
                ]
              },
              "totalRequests": {
                "type": "integer",
                "minimum": 0,
                "maximum": 9007199254740991
              }
            },
            "required": [
              "id",
              "name",
              "prefix",
              "keyType",
              "grants",
              "createdAt",
              "lastUsedAt",
              "totalRequests"
            ],
            "additionalProperties": false
          },
          "authorization": {
            "type": "object",
            "properties": {
              "grants": {
                "type": "array",
                "items": {
                  "type": "string",
                  "enum": [
                    "customer_intelligence:read",
                    "workspace_members:read",
                    "analytics:read",
                    "destinations:manage",
                    "behavior_metrics:manage",
                    "integrations:connect_own",
                    "integrations:manage",
                    "activation:read",
                    "activation:manage",
                    "workspace_settings:read",
                    "workspace_settings:manage",
                    "customer_access:manage"
                  ]
                }
              }
            },
            "required": [
              "grants"
            ],
            "additionalProperties": false
          }
        },
        "required": [
          "valid",
          "organizationId",
          "createdById",
          "authorization"
        ],
        "additionalProperties": false
      },
      "ApiKeyValidationFailure": {
        "type": "object",
        "properties": {
          "valid": {
            "type": "boolean",
            "const": false
          },
          "error": {
            "type": "string"
          }
        },
        "required": [
          "valid",
          "error"
        ],
        "additionalProperties": false
      },
      "IngestPayload": {
        "type": "object",
        "properties": {
          "visitorId": {
            "type": "string",
            "format": "uuid",
            "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
          },
          "fingerprint": {
            "type": "string",
            "minLength": 1
          },
          "source": {
            "default": "client",
            "type": "string",
            "enum": [
              "client",
              "server",
              "integration"
            ]
          },
          "events": {
            "minItems": 1,
            "maxItems": 100,
            "type": "array",
            "items": {
              "oneOf": [
                {
                  "type": "object",
                  "properties": {
                    "uuid": {
                      "type": "string",
                      "format": "uuid",
                      "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
                    },
                    "type": {
                      "type": "string",
                      "const": "pageview"
                    },
                    "timestamp": {
                      "type": "number"
                    },
                    "url": {
                      "type": "string",
                      "format": "uri"
                    },
                    "path": {
                      "type": "string"
                    },
                    "referrer": {
                      "type": "string"
                    },
                    "utm": {
                      "type": "object",
                      "properties": {
                        "source": {
                          "type": "string"
                        },
                        "medium": {
                          "type": "string"
                        },
                        "campaign": {
                          "type": "string"
                        },
                        "term": {
                          "type": "string"
                        },
                        "content": {
                          "type": "string"
                        },
                        "ref": {
                          "type": "string"
                        }
                      }
                    },
                    "customerId": {
                      "type": "string",
                      "minLength": 1
                    },
                    "customerTraits": {
                      "type": "object",
                      "propertyNames": {
                        "type": "string"
                      },
                      "additionalProperties": {
                        "anyOf": [
                          {
                            "type": "string"
                          },
                          {
                            "type": "number"
                          },
                          {
                            "type": "boolean"
                          },
                          {
                            "type": "null"
                          }
                        ]
                      }
                    },
                    "title": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "type",
                    "timestamp",
                    "url",
                    "path"
                  ],
                  "additionalProperties": false
                },
                {
                  "type": "object",
                  "properties": {
                    "uuid": {
                      "type": "string",
                      "format": "uuid",
                      "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
                    },
                    "type": {
                      "type": "string",
                      "const": "form"
                    },
                    "timestamp": {
                      "type": "number"
                    },
                    "url": {
                      "type": "string",
                      "format": "uri"
                    },
                    "path": {
                      "type": "string"
                    },
                    "referrer": {
                      "type": "string"
                    },
                    "utm": {
                      "type": "object",
                      "properties": {
                        "source": {
                          "type": "string"
                        },
                        "medium": {
                          "type": "string"
                        },
                        "campaign": {
                          "type": "string"
                        },
                        "term": {
                          "type": "string"
                        },
                        "content": {
                          "type": "string"
                        },
                        "ref": {
                          "type": "string"
                        }
                      }
                    },
                    "customerId": {
                      "type": "string",
                      "minLength": 1
                    },
                    "customerTraits": {
                      "type": "object",
                      "propertyNames": {
                        "type": "string"
                      },
                      "additionalProperties": {
                        "anyOf": [
                          {
                            "type": "string"
                          },
                          {
                            "type": "number"
                          },
                          {
                            "type": "boolean"
                          },
                          {
                            "type": "null"
                          }
                        ]
                      }
                    },
                    "formId": {
                      "type": "string"
                    },
                    "formFields": {
                      "type": "object",
                      "propertyNames": {
                        "type": "string"
                      },
                      "additionalProperties": {
                        "type": "string"
                      }
                    }
                  },
                  "required": [
                    "type",
                    "timestamp",
                    "url",
                    "path"
                  ],
                  "additionalProperties": false
                },
                {
                  "type": "object",
                  "properties": {
                    "uuid": {
                      "type": "string",
                      "format": "uuid",
                      "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
                    },
                    "type": {
                      "type": "string",
                      "const": "identify"
                    },
                    "timestamp": {
                      "type": "number"
                    },
                    "url": {
                      "type": "string",
                      "format": "uri"
                    },
                    "path": {
                      "type": "string"
                    },
                    "referrer": {
                      "type": "string"
                    },
                    "utm": {
                      "type": "object",
                      "properties": {
                        "source": {
                          "type": "string"
                        },
                        "medium": {
                          "type": "string"
                        },
                        "campaign": {
                          "type": "string"
                        },
                        "term": {
                          "type": "string"
                        },
                        "content": {
                          "type": "string"
                        },
                        "ref": {
                          "type": "string"
                        }
                      }
                    },
                    "email": {
                      "type": "string",
                      "format": "email",
                      "pattern": "^(?!\\.)(?!.*\\.\\.)([A-Za-z0-9_'+\\-\\.]*)[A-Za-z0-9_+-]@([A-Za-z0-9][A-Za-z0-9\\-]*\\.)+[A-Za-z]{2,}$"
                    },
                    "userId": {
                      "type": "string",
                      "minLength": 1
                    },
                    "fingerprint": {
                      "type": "string",
                      "minLength": 1
                    },
                    "customerId": {
                      "type": "string",
                      "minLength": 1
                    },
                    "customerTraits": {
                      "type": "object",
                      "propertyNames": {
                        "type": "string"
                      },
                      "additionalProperties": {
                        "anyOf": [
                          {
                            "type": "string"
                          },
                          {
                            "type": "number"
                          },
                          {
                            "type": "boolean"
                          },
                          {
                            "type": "null"
                          }
                        ]
                      }
                    },
                    "traits": {
                      "type": "object",
                      "propertyNames": {
                        "type": "string"
                      },
                      "additionalProperties": {
                        "anyOf": [
                          {
                            "type": "string"
                          },
                          {
                            "type": "number"
                          },
                          {
                            "type": "boolean"
                          },
                          {
                            "type": "null"
                          }
                        ]
                      }
                    }
                  },
                  "required": [
                    "type",
                    "timestamp",
                    "url",
                    "path"
                  ],
                  "additionalProperties": false
                },
                {
                  "type": "object",
                  "properties": {
                    "uuid": {
                      "type": "string",
                      "format": "uuid",
                      "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
                    },
                    "type": {
                      "type": "string",
                      "const": "custom"
                    },
                    "timestamp": {
                      "type": "number"
                    },
                    "url": {
                      "type": "string",
                      "format": "uri"
                    },
                    "path": {
                      "type": "string"
                    },
                    "referrer": {
                      "type": "string"
                    },
                    "utm": {
                      "type": "object",
                      "properties": {
                        "source": {
                          "type": "string"
                        },
                        "medium": {
                          "type": "string"
                        },
                        "campaign": {
                          "type": "string"
                        },
                        "term": {
                          "type": "string"
                        },
                        "content": {
                          "type": "string"
                        },
                        "ref": {
                          "type": "string"
                        }
                      }
                    },
                    "customerId": {
                      "type": "string",
                      "minLength": 1
                    },
                    "customerTraits": {
                      "type": "object",
                      "propertyNames": {
                        "type": "string"
                      },
                      "additionalProperties": {
                        "anyOf": [
                          {
                            "type": "string"
                          },
                          {
                            "type": "number"
                          },
                          {
                            "type": "boolean"
                          },
                          {
                            "type": "null"
                          }
                        ]
                      }
                    },
                    "email": {
                      "type": "string",
                      "format": "email",
                      "pattern": "^(?!\\.)(?!.*\\.\\.)([A-Za-z0-9_'+\\-\\.]*)[A-Za-z0-9_+-]@([A-Za-z0-9][A-Za-z0-9\\-]*\\.)+[A-Za-z]{2,}$"
                    },
                    "userId": {
                      "type": "string",
                      "minLength": 1
                    },
                    "fingerprint": {
                      "type": "string",
                      "minLength": 1
                    },
                    "eventName": {
                      "type": "string"
                    },
                    "properties": {
                      "type": "object",
                      "propertyNames": {
                        "type": "string"
                      },
                      "additionalProperties": {}
                    }
                  },
                  "required": [
                    "type",
                    "timestamp",
                    "url",
                    "path",
                    "eventName"
                  ],
                  "additionalProperties": false
                },
                {
                  "type": "object",
                  "properties": {
                    "uuid": {
                      "type": "string",
                      "format": "uuid",
                      "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
                    },
                    "type": {
                      "type": "string",
                      "const": "calendar"
                    },
                    "timestamp": {
                      "type": "number"
                    },
                    "url": {
                      "type": "string",
                      "format": "uri"
                    },
                    "path": {
                      "type": "string"
                    },
                    "referrer": {
                      "type": "string"
                    },
                    "utm": {
                      "type": "object",
                      "properties": {
                        "source": {
                          "type": "string"
                        },
                        "medium": {
                          "type": "string"
                        },
                        "campaign": {
                          "type": "string"
                        },
                        "term": {
                          "type": "string"
                        },
                        "content": {
                          "type": "string"
                        },
                        "ref": {
                          "type": "string"
                        }
                      }
                    },
                    "customerId": {
                      "type": "string",
                      "minLength": 1
                    },
                    "customerTraits": {
                      "type": "object",
                      "propertyNames": {
                        "type": "string"
                      },
                      "additionalProperties": {
                        "anyOf": [
                          {
                            "type": "string"
                          },
                          {
                            "type": "number"
                          },
                          {
                            "type": "boolean"
                          },
                          {
                            "type": "null"
                          }
                        ]
                      }
                    },
                    "provider": {
                      "type": "string",
                      "enum": [
                        "cal.com",
                        "calendly",
                        "unknown"
                      ]
                    },
                    "eventType": {
                      "type": "string"
                    },
                    "startTime": {
                      "type": "string"
                    },
                    "endTime": {
                      "type": "string"
                    },
                    "duration": {
                      "type": "number"
                    },
                    "isRecurring": {
                      "type": "boolean"
                    },
                    "inviteeEmail": {
                      "type": "string",
                      "format": "email",
                      "pattern": "^(?!\\.)(?!.*\\.\\.)([A-Za-z0-9_'+\\-\\.]*)[A-Za-z0-9_+-]@([A-Za-z0-9][A-Za-z0-9\\-]*\\.)+[A-Za-z]{2,}$"
                    },
                    "inviteeName": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "type",
                    "timestamp",
                    "url",
                    "path",
                    "provider"
                  ],
                  "additionalProperties": false
                },
                {
                  "type": "object",
                  "properties": {
                    "uuid": {
                      "type": "string",
                      "format": "uuid",
                      "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
                    },
                    "type": {
                      "type": "string",
                      "const": "engagement"
                    },
                    "timestamp": {
                      "type": "number"
                    },
                    "url": {
                      "type": "string",
                      "format": "uri"
                    },
                    "path": {
                      "type": "string"
                    },
                    "referrer": {
                      "type": "string"
                    },
                    "utm": {
                      "type": "object",
                      "properties": {
                        "source": {
                          "type": "string"
                        },
                        "medium": {
                          "type": "string"
                        },
                        "campaign": {
                          "type": "string"
                        },
                        "term": {
                          "type": "string"
                        },
                        "content": {
                          "type": "string"
                        },
                        "ref": {
                          "type": "string"
                        }
                      }
                    },
                    "customerId": {
                      "type": "string",
                      "minLength": 1
                    },
                    "customerTraits": {
                      "type": "object",
                      "propertyNames": {
                        "type": "string"
                      },
                      "additionalProperties": {
                        "anyOf": [
                          {
                            "type": "string"
                          },
                          {
                            "type": "number"
                          },
                          {
                            "type": "boolean"
                          },
                          {
                            "type": "null"
                          }
                        ]
                      }
                    },
                    "activeTimeMs": {
                      "type": "number"
                    },
                    "totalTimeMs": {
                      "type": "number"
                    },
                    "sessionId": {
                      "type": "string",
                      "format": "uuid",
                      "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
                    }
                  },
                  "required": [
                    "type",
                    "timestamp",
                    "url",
                    "path",
                    "activeTimeMs",
                    "totalTimeMs",
                    "sessionId"
                  ],
                  "additionalProperties": false
                }
              ]
            }
          },
          "sessionId": {
            "type": "string",
            "format": "uuid",
            "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
          },
          "userIdentity": {
            "type": "object",
            "properties": {
              "email": {
                "type": "string",
                "format": "email",
                "pattern": "^(?!\\.)(?!.*\\.\\.)([A-Za-z0-9_'+\\-\\.]*)[A-Za-z0-9_+-]@([A-Za-z0-9][A-Za-z0-9\\-]*\\.)+[A-Za-z]{2,}$"
              },
              "userId": {
                "type": "string",
                "minLength": 1
              },
              "fingerprint": {
                "type": "string",
                "minLength": 1
              },
              "traits": {
                "type": "object",
                "propertyNames": {
                  "type": "string"
                },
                "additionalProperties": {
                  "anyOf": [
                    {
                      "type": "string"
                    },
                    {
                      "type": "number"
                    },
                    {
                      "type": "boolean"
                    },
                    {
                      "type": "null"
                    }
                  ]
                }
              }
            },
            "additionalProperties": false
          },
          "customerIdentity": {
            "type": "object",
            "properties": {
              "customerId": {
                "type": "string",
                "minLength": 1
              },
              "customerTraits": {
                "type": "object",
                "propertyNames": {
                  "type": "string"
                },
                "additionalProperties": {
                  "anyOf": [
                    {
                      "type": "string"
                    },
                    {
                      "type": "number"
                    },
                    {
                      "type": "boolean"
                    },
                    {
                      "type": "null"
                    }
                  ]
                }
              }
            },
            "additionalProperties": false
          }
        },
        "required": [
          "events"
        ]
      },
      "IngestResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "processed": {
            "type": "integer",
            "minimum": 0,
            "maximum": 9007199254740991
          },
          "errors": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "index": {
                  "type": "integer",
                  "minimum": -9007199254740991,
                  "maximum": 9007199254740991
                },
                "message": {
                  "type": "string"
                }
              },
              "required": [
                "index",
                "message"
              ],
              "additionalProperties": false
            }
          }
        },
        "required": [
          "success",
          "processed"
        ],
        "additionalProperties": false
      },
      "ToolInput_outlit_list_customers": {
        "type": "object",
        "properties": {
          "activatedSince": {
            "description": "Filter customers activated at or after this ISO-8601 datetime",
            "type": "string",
            "format": "date-time",
            "pattern": "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z|([+-](?:[01]\\d|2[0-3]):[0-5]\\d)))$"
          },
          "billingStatus": {
            "description": "Filter by billing status",
            "type": "string",
            "enum": [
              "NONE",
              "TRIALING",
              "PAYING",
              "PAST_DUE",
              "CHURNED"
            ]
          },
          "hasActivityInLast": {
            "description": "Filter customers with activity in the last N days",
            "type": "string",
            "enum": [
              "7d",
              "14d",
              "30d",
              "90d"
            ]
          },
          "noActivityInLast": {
            "description": "Filter customers with NO activity in the last N days",
            "type": "string",
            "enum": [
              "7d",
              "14d",
              "30d",
              "90d"
            ]
          },
          "mrrAbove": {
            "description": "Minimum MRR in cents (e.g., 10000 = $100)",
            "type": "number",
            "minimum": 0
          },
          "mrrBelow": {
            "description": "Maximum MRR in cents",
            "type": "number",
            "minimum": 0
          },
          "traitFilters": {
            "description": "Filter by exact trait values using key/value pairs",
            "type": "object",
            "propertyNames": {
              "type": "string",
              "pattern": "^[A-Za-z0-9_-]{1,100}$"
            },
            "additionalProperties": {
              "anyOf": [
                {
                  "type": "string",
                  "maxLength": 500
                },
                {
                  "type": "number"
                },
                {
                  "type": "boolean"
                }
              ]
            }
          },
          "search": {
            "description": "Search by customer name or domain (case-insensitive)",
            "type": "string",
            "maxLength": 500
          },
          "ownerId": {
            "description": "Filter customers by internal owner user ID",
            "type": "string",
            "maxLength": 500
          },
          "ownerEmail": {
            "description": "Filter customers by internal owner email address",
            "type": "string",
            "maxLength": 500
          },
          "hasOwner": {
            "description": "Filter customers by whether they have an owner",
            "type": "boolean"
          },
          "limit": {
            "description": "Results per page (max 1000)",
            "default": 50,
            "type": "number",
            "minimum": 1,
            "maximum": 1000
          },
          "cursor": {
            "description": "Pagination cursor from previous response",
            "type": "string"
          },
          "orderBy": {
            "description": "Field to order results by",
            "default": "last_activity_at",
            "type": "string",
            "enum": [
              "last_activity_at",
              "first_seen_at",
              "name",
              "mrr_cents"
            ]
          },
          "orderDirection": {
            "description": "Sort direction",
            "default": "desc",
            "type": "string",
            "enum": [
              "asc",
              "desc"
            ]
          }
        }
      },
      "ToolInput_outlit_list_users": {
        "type": "object",
        "properties": {
          "journeyStage": {
            "description": "Filter by user journey stage",
            "type": "string",
            "enum": [
              "DISCOVERED",
              "SIGNED_UP",
              "ACTIVATED",
              "ENGAGED",
              "INACTIVE"
            ]
          },
          "customerId": {
            "description": "Filter users by customer ID",
            "type": "string",
            "maxLength": 500
          },
          "traitFilters": {
            "description": "Filter by exact trait values using key/value pairs",
            "type": "object",
            "propertyNames": {
              "type": "string",
              "pattern": "^[A-Za-z0-9_-]{1,100}$"
            },
            "additionalProperties": {
              "anyOf": [
                {
                  "type": "string",
                  "maxLength": 500
                },
                {
                  "type": "number"
                },
                {
                  "type": "boolean"
                }
              ]
            }
          },
          "hasActivityInLast": {
            "description": "Filter users active within this window. Format: Nd, Nh, or Nm (e.g., '7d', '24h', '90m')",
            "type": "string",
            "pattern": "^\\d+(d|h|m)$"
          },
          "noActivityInLast": {
            "description": "Filter users NOT active within this window. Format: Nd, Nh, or Nm (e.g., '30d', '2h')",
            "type": "string",
            "pattern": "^\\d+(d|h|m)$"
          },
          "search": {
            "description": "Search by user email or name (case-insensitive)",
            "type": "string",
            "maxLength": 500
          },
          "limit": {
            "description": "Results per page (max 1000)",
            "default": 50,
            "type": "number",
            "minimum": 1,
            "maximum": 1000
          },
          "cursor": {
            "description": "Pagination cursor from previous response",
            "type": "string"
          },
          "orderBy": {
            "description": "Field to order by",
            "default": "last_activity_at",
            "type": "string",
            "enum": [
              "last_activity_at",
              "first_seen_at",
              "email"
            ]
          },
          "orderDirection": {
            "description": "Sort direction",
            "default": "desc",
            "type": "string",
            "enum": [
              "asc",
              "desc"
            ]
          }
        }
      },
      "ToolInput_outlit_list_workspace_users": {
        "type": "object",
        "properties": {
          "search": {
            "description": "Search internal workspace users by name, email, title, role, or territory",
            "type": "string",
            "maxLength": 500
          },
          "role": {
            "description": "Filter internal workspace users by role metadata when available",
            "type": "string",
            "maxLength": 100
          },
          "managerEmail": {
            "description": "Filter internal workspace users by manager email metadata when available",
            "type": "string",
            "maxLength": 500
          },
          "hasOwnedCustomers": {
            "description": "When true, return only members who own customers; when false, return only members who own none",
            "type": "boolean"
          },
          "limit": {
            "description": "Results per page (max 1000)",
            "default": 50,
            "type": "number",
            "minimum": 1,
            "maximum": 1000
          },
          "cursor": {
            "description": "Pagination cursor from previous response",
            "type": "string"
          },
          "orderBy": {
            "description": "Field to order workspace users by",
            "default": "owned_customer_count",
            "type": "string",
            "enum": [
              "name",
              "email",
              "owned_customer_count"
            ]
          },
          "orderDirection": {
            "description": "Sort direction",
            "default": "desc",
            "type": "string",
            "enum": [
              "asc",
              "desc"
            ]
          }
        }
      },
      "ToolInput_outlit_get_customer": {
        "type": "object",
        "properties": {
          "customer": {
            "type": "string",
            "minLength": 1,
            "maxLength": 500,
            "description": "Customer ID, domain, or name to look up"
          },
          "include": {
            "description": "Additional data sections to include in the response",
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "users",
                "revenue",
                "recentTimeline",
                "behaviorMetrics",
                "enrichment"
              ]
            }
          },
          "timeframe": {
            "description": "Timeframe for timeline and behavior metrics (default: 30d)",
            "default": "30d",
            "type": "string",
            "enum": [
              "7d",
              "14d",
              "30d",
              "90d"
            ]
          }
        },
        "required": [
          "customer"
        ]
      },
      "ToolInput_outlit_get_customer_relationship": {
        "type": "object",
        "properties": {
          "customer": {
            "type": "string",
            "minLength": 1,
            "maxLength": 500,
            "description": "Customer ID, domain, or exact customer name to look up"
          }
        },
        "required": [
          "customer"
        ],
        "additionalProperties": false
      },
      "ToolInput_outlit_assign_customer_owner": {
        "type": "object",
        "properties": {
          "customerId": {
            "type": "string",
            "format": "uuid",
            "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
          },
          "targetUserId": {
            "type": "string",
            "minLength": 1,
            "maxLength": 500
          }
        },
        "required": [
          "customerId",
          "targetUserId"
        ]
      },
      "ToolInput_outlit_grant_customer_access": {
        "type": "object",
        "properties": {
          "customerId": {
            "type": "string",
            "format": "uuid",
            "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
          },
          "targetUserId": {
            "type": "string",
            "minLength": 1,
            "maxLength": 500
          },
          "role": {
            "type": "string",
            "enum": [
              "VIEWER",
              "EDITOR"
            ]
          }
        },
        "required": [
          "customerId",
          "targetUserId",
          "role"
        ]
      },
      "ToolInput_outlit_update_customer_access": {
        "type": "object",
        "properties": {
          "customerId": {
            "type": "string",
            "format": "uuid",
            "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
          },
          "targetUserId": {
            "type": "string",
            "minLength": 1,
            "maxLength": 500
          },
          "role": {
            "type": "string",
            "enum": [
              "VIEWER",
              "EDITOR"
            ]
          }
        },
        "required": [
          "customerId",
          "targetUserId",
          "role"
        ]
      },
      "ToolInput_outlit_revoke_customer_access": {
        "type": "object",
        "properties": {
          "customerId": {
            "type": "string",
            "format": "uuid",
            "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
          },
          "targetUserId": {
            "type": "string",
            "minLength": 1,
            "maxLength": 500
          }
        },
        "required": [
          "customerId",
          "targetUserId"
        ]
      },
      "ToolInput_outlit_get_timeline": {
        "type": "object",
        "properties": {
          "customer": {
            "type": "string",
            "minLength": 1,
            "maxLength": 200,
            "description": "Customer ID or domain"
          },
          "channels": {
            "description": "Filter by event channel. Use values such as PRODUCT, COMMUNICATION, MEETING, CRM, BILLING, SUPPORT, IDENTITY, DOCUMENT, or SYSTEM.",
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "PRODUCT",
                "COMMUNICATION",
                "MEETING",
                "CRM",
                "BILLING",
                "SUPPORT",
                "IDENTITY",
                "DOCUMENT",
                "SYSTEM"
              ]
            }
          },
          "eventTypes": {
            "description": "Filter by event type",
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "timeframe": {
            "description": "Relative time window (default: 30d). Cannot be used with startDate/endDate.",
            "type": "string",
            "enum": [
              "7d",
              "14d",
              "30d",
              "90d",
              "all"
            ]
          },
          "startDate": {
            "description": "Start of time window (ISO 8601, e.g. '2025-01-01T00:00:00Z'). Cannot be used with timeframe.",
            "type": "string",
            "format": "date-time",
            "pattern": "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z))$"
          },
          "endDate": {
            "description": "End of time window (ISO 8601, e.g. '2025-01-31T23:59:59Z'). Cannot be used with timeframe.",
            "type": "string",
            "format": "date-time",
            "pattern": "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z))$"
          },
          "limit": {
            "description": "Results per page (max 1000)",
            "default": 50,
            "type": "number",
            "minimum": 1,
            "maximum": 1000
          },
          "cursor": {
            "description": "Pagination cursor from previous response",
            "type": "string"
          }
        },
        "required": [
          "customer"
        ]
      },
      "ToolInput_outlit_list_facts": {
        "type": "object",
        "properties": {
          "customer": {
            "type": "string",
            "minLength": 1,
            "maxLength": 500,
            "description": "Customer ID or domain"
          },
          "status": {
            "description": "Optional fact status filter",
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "ACTIVE",
                "ACKNOWLEDGED",
                "RESOLVED",
                "SNOOZED",
                "CANDIDATE"
              ]
            }
          },
          "sourceTypes": {
            "description": "Optional generic source types to restrict fact results to.",
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "EMAIL",
                "CALL",
                "CALENDAR_EVENT",
                "SUPPORT_TICKET",
                "OPPORTUNITY",
                "SLACK",
                "CRM",
                "CRM_OPPORTUNITY"
              ]
            }
          },
          "factTypes": {
            "description": "Optional customer-memory fact type filters, such as CHURN_RISK, EXPANSION, SENTIMENT, or BUDGET. Anomaly detector fact types are not supported.",
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "CUSTOM",
                "COMPANY_CHANGE",
                "FUNDING_REVENUE",
                "TECHNOLOGY",
                "STRATEGY",
                "COMPETITIVE",
                "SENTIMENT",
                "CHAMPION_RISK",
                "EXPANSION",
                "CHURN_RISK",
                "TIMELINE",
                "BUDGET",
                "DECISION_MAKER",
                "REQUIREMENTS",
                "PRODUCT_USAGE",
                "CONTACT_INFO",
                "CONTACT_PREFERENCE"
              ]
            }
          },
          "factCategories": {
            "description": "Optional public fact category filters. Supported values: MEMORY, CUSTOM.",
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "MEMORY",
                "CUSTOM"
              ]
            }
          },
          "after": {
            "description": "ISO 8601 datetime lower bound",
            "type": "string",
            "format": "date-time",
            "pattern": "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z))$"
          },
          "before": {
            "description": "ISO 8601 datetime upper bound",
            "type": "string",
            "format": "date-time",
            "pattern": "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z))$"
          },
          "limit": {
            "description": "Results per page (max 100)",
            "default": 50,
            "type": "integer",
            "minimum": 1,
            "maximum": 100
          },
          "cursor": {
            "description": "Pagination cursor from previous response",
            "type": "string"
          }
        },
        "required": [
          "customer"
        ]
      },
      "ToolInput_outlit_get_fact": {
        "type": "object",
        "properties": {
          "factId": {
            "type": "string",
            "minLength": 1,
            "maxLength": 500,
            "description": "Exact fact ID to retrieve"
          },
          "include": {
            "description": "Optional best-effort expansions. Use include=['evidence'] to request evidence when available; unsupported include values are ignored.",
            "type": "array",
            "items": {
              "type": "string",
              "minLength": 1,
              "maxLength": 100
            }
          }
        },
        "required": [
          "factId"
        ]
      },
      "ToolInput_outlit_get_source": {
        "type": "object",
        "properties": {
          "sourceType": {
            "type": "string",
            "enum": [
              "EMAIL",
              "CALL",
              "CALENDAR_EVENT",
              "SUPPORT_TICKET",
              "OPPORTUNITY",
              "SLACK",
              "CRM",
              "CRM_OPPORTUNITY"
            ]
          },
          "sourceId": {
            "type": "string",
            "minLength": 1,
            "maxLength": 500
          },
          "limit": {
            "description": "Slack replies per page (default 50, maximum 100). Ignored for other source types.",
            "type": "integer",
            "minimum": 1,
            "maximum": 100
          },
          "cursor": {
            "description": "Opaque Slack reply cursor returned by a previous exact lookup.",
            "type": "string",
            "minLength": 1,
            "maxLength": 2000
          }
        },
        "required": [
          "sourceType",
          "sourceId"
        ]
      },
      "ToolInput_outlit_list_sources": {
        "type": "object",
        "properties": {
          "sourceType": {
            "description": "Generic source type to list.",
            "type": "string",
            "enum": [
              "EMAIL",
              "CALL",
              "CALENDAR_EVENT",
              "SUPPORT_TICKET",
              "OPPORTUNITY",
              "SLACK",
              "CRM",
              "CRM_OPPORTUNITY"
            ]
          },
          "customer": {
            "description": "Customer ID, domain, or name to scope source listing.",
            "type": "string",
            "minLength": 1,
            "maxLength": 200
          },
          "after": {
            "description": "ISO 8601 datetime lower bound.",
            "type": "string",
            "format": "date-time",
            "pattern": "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z))$"
          },
          "before": {
            "description": "ISO 8601 datetime upper bound.",
            "type": "string",
            "format": "date-time",
            "pattern": "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z))$"
          },
          "participant": {
            "description": "Participant email or name to filter source records.",
            "type": "string",
            "minLength": 1,
            "maxLength": 500
          },
          "provider": {
            "description": "Provider identifier such as gmail, gong, or google-calendar.",
            "type": "string",
            "minLength": 1,
            "maxLength": 200
          },
          "hasTranscript": {
            "description": "Filter call sources by transcript presence.",
            "type": "boolean"
          },
          "limit": {
            "description": "Results per page.",
            "default": 50,
            "type": "integer",
            "minimum": 1,
            "maximum": 100
          },
          "cursor": {
            "description": "Pagination cursor.",
            "type": "string",
            "minLength": 1,
            "maxLength": 2000
          }
        },
        "additionalProperties": false
      },
      "ToolInput_outlit_search_customer_context": {
        "type": "object",
        "properties": {
          "customer": {
            "description": "Customer ID, domain, or name. Omit to search across all customers.",
            "anyOf": [
              {
                "type": "string",
                "minLength": 1,
                "maxLength": 500
              },
              {
                "type": "null"
              }
            ]
          },
          "query": {
            "type": "string",
            "minLength": 2,
            "maxLength": 2000,
            "description": "Natural language query or topic to search for."
          },
          "topK": {
            "description": "Maximum number of artifact results to return (default 20).",
            "type": "integer",
            "minimum": 1,
            "maximum": 50
          },
          "after": {
            "description": "ISO 8601 datetime lower bound",
            "type": "string",
            "format": "date-time",
            "pattern": "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z))$"
          },
          "before": {
            "description": "ISO 8601 datetime upper bound",
            "type": "string",
            "format": "date-time",
            "pattern": "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z))$"
          },
          "sourceTypes": {
            "description": "Optional generic source types to restrict the search to.",
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "EMAIL",
                "CALL",
                "CALENDAR_EVENT",
                "SUPPORT_TICKET",
                "OPPORTUNITY",
                "SLACK",
                "CRM",
                "CRM_OPPORTUNITY"
              ]
            }
          }
        },
        "required": [
          "query"
        ],
        "additionalProperties": false
      },
      "ToolInput_outlit_query": {
        "type": "object",
        "properties": {
          "sql": {
            "type": "string",
            "minLength": 1,
            "maxLength": 10000,
            "description": "SQL SELECT query to execute"
          },
          "limit": {
            "description": "Max rows to return (default 1000, max 10000)",
            "default": 1000,
            "type": "integer",
            "minimum": 1,
            "maximum": 10000
          }
        },
        "required": [
          "sql"
        ]
      },
      "ToolInput_outlit_schema": {
        "type": "object",
        "properties": {
          "table": {
            "description": "Specific analytics view to describe. Omit to list all views.",
            "type": "string",
            "enum": [
              "activity",
              "customers",
              "users",
              "revenue"
            ]
          }
        }
      },
      "ToolInput_outlit_list_destinations": {
        "type": "object",
        "properties": {},
        "additionalProperties": false
      },
      "ToolInput_outlit_get_destination": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
          }
        },
        "required": [
          "id"
        ],
        "additionalProperties": false
      },
      "ToolInput_outlit_create_destination": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "const": "SLACK_CHANNEL"
          },
          "channelId": {
            "type": "string",
            "minLength": 1,
            "maxLength": 191
          },
          "label": {
            "type": "string",
            "minLength": 1,
            "maxLength": 120
          },
          "enabled": {
            "default": true,
            "type": "boolean"
          },
          "isDefault": {
            "default": false,
            "type": "boolean"
          }
        },
        "required": [
          "type",
          "channelId",
          "label"
        ],
        "additionalProperties": false
      },
      "ToolInput_outlit_update_destination": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
          },
          "type": {
            "type": "string",
            "const": "SLACK_CHANNEL"
          },
          "label": {
            "type": "string",
            "minLength": 1,
            "maxLength": 120
          },
          "isDefault": {
            "type": "boolean",
            "const": true
          }
        },
        "required": [
          "id",
          "type"
        ],
        "additionalProperties": false
      },
      "ToolInput_outlit_enable_destination": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
          }
        },
        "required": [
          "id"
        ],
        "additionalProperties": false
      },
      "ToolInput_outlit_disable_destination": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
          }
        },
        "required": [
          "id"
        ],
        "additionalProperties": false
      },
      "ToolInput_outlit_archive_destination": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
          }
        },
        "required": [
          "id"
        ],
[...]
